<div class='flex flex-col mt-4 gap-2 px-2'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='flex flex-col gap-2'>
      <div class="flex flex-col">
        <%= f.label :email, class:'hidden' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Email', class:'px-3 py-2 border bg-white' %>
      </div>

      <div class="flex flex-col">
        <%= f.label :password, class:'hidden' %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder:'Password', class:'px-3 py-2 border bg-white' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "Log in", class:'py-2 bg-[#5fb523] text-neutral-50 hover:bg-slate-200 active:bg-slate-200 hover:text-neutral-900 active:text-neutral-900 w-full' %>
    </div>
  <% end %>

  <%- if devise_mapping.recoverable? %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class:'text-gray-400 py-2 w-full hover:bg-[#3778c2] active:bg-[#3778c2] hover:text-neutral-50 active:text-neutral-50 text-center' %>
  <% end %>
</div>
