<div class='flex flex-col mt-4 gap-2 px-2'>
  <%= form_with(model: category) do |form| %>
    <% if category.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='flex flex-col gap-2'>
      <div class="flex flex-col">
        <%= form.label 'Category name:', class:'italic' %>
        <%= form.text_field :name, autofocus: true, class:'px-3 py-2 border bg-white' %>
      </div>

      <%= form.submit 'Create category', class:'py-2 bg-[#5fb523] text-neutral-50 hover:bg-slate-200 active:bg-slate-200 hover:text-neutral-900 active:text-neutral-900 w-full' %>
    </div>
  <% end %>
</div>
