<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/9eae86040a.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-slate-100'>
    <%= render 'shared/navbar' %>
    
    <% if user_signed_in? %>
      <%= render 'shared/offcanvas' %>
    <% else %>

    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
