<div class='flex flex-col mt-4 gap-2 px-2'>
<%= form_with model: [@category, @category.operations.build] do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class='flex flex-col gap-2'>
  <div class="flex flex-col">
    <%= form.label "Name:", class:'italic' %>
    <%= form.text_field :name, autofocus: true, class:'px-3 py-2 border bg-white' %>
  </div>

  <div class="flex flex-col">
    <%= form.label "Price:", class:'italic' %>
    <%= form.text_field :amount, class:'px-3 py-2 border bg-white' %>
  </div>

  <div class="flex flex-col">
    <%= form.label 'Category', class:'italic' %>
    <p class='text-gray-400 italic'><%= @category.name %></p>
  </div>

    <%= form.submit 'Create operation', class:'py-2 bg-[#5fb523] text-neutral-50 hover:bg-slate-200 active:bg-slate-200 hover:text-neutral-900 active:text-neutral-900 w-full' %>
  </div>
<% end %>
</div>
